*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* General Reset */
.body-home {
  background: url(../img/Aball.jpg) ;
   
  background-repeat: repeat;
  background-size: cover;   
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
}
/* Navbar Logo */
.navbar-brand img {
  border-radius: 50%;
}

/* Login Form Styling */
#loginForm {
  max-width: 400px;
}

/*  Hover */
.nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8c146;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #f8c146;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


#content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  transition: color 1s ease-in-out;
}

h1, p {
  margin: 0;
  transition: color 1s ease-in-out;
}
.inner2{
  width: 80vh;
  width: 900px;
  font-size:50px ;
  padding-top: 8rem;
}